
html, body {
    height: 100%;
  }

body {
    background-color: #82a2a7;
    background-size: cover;
   }

h2 {
    font-size: 30px;
    margin: 10px;
    color: white
    /* border: 2px solid; */
}
a {
    color: white;   
    text-decoration: underline; 
}

a:hover  {
    color:#d4d282;
}
/* Main Rules for body text */
#text-block strong{
    color: #ffffff;
    /* border-style: solid; */
    /* margin-left: 20%; */
    padding: 15px;
}

.col-10 {
    color: #ffffff;
    /* border-style: solid; */
    /* margin-left: 20%; */
    padding: 15px;
}

#contact-links {
    color: #FFFFFF;
    margin-left: 20%;
    
}

#insidepics {
    padding-right: 50px;
}

#profilepic {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    /* flex: 1; */
    text-align: center;
    display: flex;
    justify-content: space-around;

}
#contactForm {
    background-color: #EBF8FA;
    font-family: 'Arial', cursive;
    display: inline-block;
    text-align: center;
    border-style: solid;
    margin-left: 20%;
    width:   60%;
    border-radius: 25px;
    padding: 10px;  
   }


.footer{
    color: rgba(255, 255, 255, 0.5);
    background-color: #353b41;
    margin-top: 15px;    
    text-align: right;
    padding : 20px;    
    display: flex;
    /* position: absolute; */
    /* margin-bottom: -50px; */
    justify-content: space-evenly;
}



/*  IMAGE FIT
   object-fit: cover;
   
   
   [3:03] 
   `img.left,
   img.right {
       height: 150px;
       width: 150px;
       border-radius: 50%;
       border: solid 5px #D22805 ;
       margin: 0 10px;
       object-fit: cover;
       align-self: center;
   }` */